#header {
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0px;
}

h1,h3,h4 {
    margin: 5px;
}

main {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    border: 1px black solid;
}

p {
    text-indent: 40px;
}