#title {
    text-align: center;
    margin:2%;
    border-bottom: black 1px solid;
  }

#post {
  min-width: 100px;
  float: left;
  overflow: hidden;
  width: 65%;
  margin:2%;
  padding:2%;
  background-color: #b5caca;
  border: 1px black solid;
}

#title h1 {
    margin: 0;
}

#title h3 {
    margin: 0;
}

/*#title h4 {
    margin: 0;
}*/

body {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}

#post p {
    text-indent: 40px;
}

/*footer p {margin-left:10px;}*/


#return {
text-align: center;
margin-right: 2%;
margin-left: 2%;
font-weight: bold;
/*margin: 3%;*/
border-top: 1px black solid;
padding:2%;
}

div a {
  font-weight: bolder;
}

pre {
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}

#post p {
  margin-left: 3%;
  margin-right: 3%;
}

/*#footer {
  clear:both;
  bottom:0;
  left:0;
  display: inline-block;
  text-align: right;
  background-color: red;
}
#footer li {
  display: inline;
  background-color: red;

}*/

#footer p {

}




#fix {
  position: fixed;
  font-family: comic;
  color: green;
  bottom: 0px;
  left: 10px;
}

#relative {
  position: relative;
  font-family: comic;
  color: red;
  left: 500px;
  bottom: 20px;
}

#absolute {
  position: absolute;
  font-family: comic;
  color: blue;
  left: 600px;
  bottom: 50px;
}




