#title {
    text-align: center;
    margin:0;
  }

#post {
  float: left;
  overflow: hidden;
  width: 65%;
  margin-top:2%;
}

#title h1 {
    margin: 0;
}

#title h3 {
    margin: 0;
}

/*#title h4 {
    margin: 0;
}*/

body {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}

#post p {
    text-indent: 40px;
}

/*footer p {margin-left:10px;}*/


#return {
text-align: center;
margin-right: auto;
margin-left: auto;
font-weight: bold;
margin: 3%;
}

div a {
  font-weight: bolder;
}

pre {
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
}

#post p {
  margin-left: 3%;
  margin-right: 3%;
}










#fix {
  position: fixed;
  font-family: comic;
  color: green;
  bottom: 0px;
  left: 10px;
}

#relative {
  position: relative;
  font-family: comic;
  color: red;
  left: 500px;
  bottom: 20px;
}

#absolute {
  position: absolute;
  font-family: comic;
  color: blue;
  left: 600px;
  bottom: 50px;
}




