html, body, main {
  font-family: athelas;
  margin:0;
  padding: 0;
  background-color: #ededde;
  width: 100%;
  min-height: 100%;
}

header {
  color:white;
  background-color: #4a915f;
  text-align: center;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  margin: 0;
  padding: 0;
  /*position: relative;*/
  width: 100%;
}

header h1 {
  margin: 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header h4 {
  margin:0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*position: absolute;*/
  right: 0;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  background-color: #b5caca;
  border-top: black solid 1px;
}

header ul li {
  display: inline;
  text-decoration: none;
  margin: 3%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
font-style: italic;
}

a:visited {
  color: black;
}

footer {
  color:white;
  background-color: #4a915f;
  position: fixed;
  height: 54px;
  left:0;
  bottom:0;
  width: 100%;
  clear: both;
  border-top:1px solid black;
  border-bottom:1px solid black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: inline-block;
}

/*#footer footer {
  position: relative;
  bottom:auto;
  left:auto;
  max-width:100%;
}*/

footer p {
  margin-right: 10px;
  text-align: right;}

#intro {
  background-color: #ededde;
  color: black;
  /*position: relative;*/
  width: 100%;
  height: 100%;
  overflow:hidden;
  margin-bottom: 54px;
}

#indexlink{
  /*position: absolute;*/
  /*float:left;*/
  /*display: inline-block;*/
  /*right:0;*/
  width: auto;
/*  margin-left: 3%;
  margin-right: auto;*/
  overflow: hidden;
  /*min-width: 100px;*/
  margin:2%;
  padding:2%;
  background-color: #b5caca;
  border: 1px black solid;
  height: 100%;
  margin-bottom: 54px;
}

#indexlink a{
  font-weight: bolder;
}

#sidebar {
  float:left;
  /*position: absolute;*/
  /*list-style-type: none;*/
  /*display: block;*/
  left:0;
  margin:0;
  padding:2%;
  width:auto;
  margin-left: auto;
  margin-right: auto;
  /*min-width: 150px;*/
  overflow: hidden;
  border: none;
  /*height: 100%;*/
}

#indexlink h2{text-align: center;}

#indexlink ul{
  text-align: center;
  padding:1%;
  margin:5%;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  list-style-type: none;
}


#sidebar img {
  border: black solid 1px;
  /*border-right: black solid 1px;*/
  list-style-type: none;
}



#social {
  list-style-type: none;
  /*text-align: center;*/
}

#social li {
  display: inline;
  text-align: center;
margin-right: 10px;
}

#intro ul li a {
  color:black;
}

footer ul {
  margin: 0;
  padding: 0;
  position: fixed;
  /*right: 0;*/
  left: 0;
  bottom: 0;
  display: inline;
  width: 100%;
  height:auto;
}

footer ul li {
  display: inline;
  margin:10px;
}
